$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.row {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.unit {
    &.left {
        img {
            float: right;
        }
    }
    &.right {
    }
}

tr {
    border: 1px solid black;
}


.unit-stats {
    width: 100%;
    table-layout: fixed;
    td {
        text-align: left;
        padding: 0 5px;
    }
    .divider, .divider * {
        padding-top: 20px;
        border: none;
    }
    td + td {
        text-align: right;
    }
}

.arena-stats {
    margin-top: 140px;
    width: 100%;
    td {
        text-align: left;
        padding: 0 5px;
    }
    .divider, .divider * {
        padding-top: 20px;
        border: none;
    }
    td + td {
        text-align: center
    }
    td + td + td {
        text-align: right;
    }
}

#techs {
    float: left;
}

#main {
    margin: 0 0;
    padding: 0;
}


#panels {
    margin: 0 0;
    padding: 0;
}

// can't be bothered to wrap selects with row/cols properly
.form-control {
    max-width: 180px;
    font-weight: bold;
}

footer {
    position: fixed;
    height: 2em;
    bottom: 1em;
    width: 100%;
    margin: 0 2em;
    font-size: large;
    iframe {
        float: right;
    }
}

body {
    font-family: monospace;
}

select.form-control {
    border: 1px solid black;
    border-radius: 0px;
    margin-right: 5px;
    margin-bottom: 15px;
}

button.btn.btn-primary,
button.btn.btn-danger
{
    margin-top: 15px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 0px;
}